.numericButtonsList {
	display: grid;
	grid-template-columns: repeat(3, minmax(50px, 100px));
}
.buttonsContainer{
	display: flex;
}
.section{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}
